.manual-modal {
  background-color: rgb(230, 224, 168);
  padding: 20px 0px 20px;
  width: 500px;
  margin: 0 auto;
}

#delete-entry-confirm-btn {
  padding-right: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #00b147;
  margin: 0px 20px 20px 20px;
}

#delete-entry-cancel-btn {
  padding-right: 10px;
  border-radius: 10px;
  border-style: none;
  background-color: #e67f7f;
  margin: 0px 20px 0 20px;
}

@media only screen and (max-width: 768px) {
  .manual-modal {
    padding: 20px 10px 20px;
    width: 370px;
  }
}

@media only screen and (max-width: 375px) {
  .manual-modal {
    padding: 20px 10px 20px;
    width: 280px;
  }
}
