.nav-section {
  display: flex;
}

#brand-name {
  font-size: 30px;
  color: white;
}

.sticky-top {
  position: sticky;
  background-color: #1d9b7c;
}

.nav-tabs {
  color: #ffffff !important;
  margin-left: 30px;
}

#basic-navbar-nav {
  flex-direction: row-reverse;
  margin-right: 5%;
}

.navbar-light .navbar-nav .nav-link {
  border: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.toggle {
  background-color: white !important;
}

.welcome-msg {
  color: white;
  margin-top: 8px;
}
