.homepage-statement-container {
  padding: 100px 0px 200px;
  height: 380px;
  background-image: url("https://i.imgur.com/s3vPfxN.png");
  background-size: cover;
}

.homepage-statement {
  color: white;
}

.homepage-statement:nth-child(1) {
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate-reverse;
}

.homepage-statement:nth-child(2) {
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-direction: alternate;
}

@keyframes fade {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#homepage-process-title {
  margin: 30px 0px 30px;
  font-weight: bold;
  font-size: 30px;
}

.process-card-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.individual-process-card {
  border-radius: 10px;
  background-color: white;
  width: 300px;
  height: 280px;
  box-shadow: 5px 10px;
  margin-bottom: 50px;
}

#laptop {
  height: 200px;
}

#lightbulb {
  height: 195px;
}

#connection-img {
  height: 190px;
}

#connection-text {
  margin-top: 9px;
}

#homepage-signup-btn {
  padding: 10px 60px;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
  background-color: #fda254;
  margin: 40px 0px 40px;
  color: white;
}

#homepage-signup-btn:hover {
  box-shadow: 5px 10px 18px #4e8c4b;
  width: 15vw;
  height: 7vh;
  transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .individual-process-card {
    width: 250px;
    margin-right: 20px;
  }

  #laptop {
    height: 150px;
    padding: 20px 0px 20px;
  }

  #lightbulb {
    height: 150px;
    padding: 20px 0px 20px;
  }

  #bar-graph {
    height: 150px;
    padding: 20px 0px 20px;
  }

  #connection-img {
    height: 150px;
    padding: 20px 0px 20px;
  }

  #connection-text {
    margin-top: 9px;
  }
}

@media only screen and (max-width: 375px) {
  .homepage-statement {
    font-size: 30px;
  }

  .individual-process-card {
    height: 240px;
  }
}
