.signup-form-container{
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F8DCCB;
}

.signup-form {
  width: 800px;
  background-color: #D1DCE1;
}

#signup-title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px
}

#signup-intro{
  padding: 5px 0px 20px;
}

.signup-text{
  font-size: 16px;
}

.signup-field{
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px
}

.pwd-mismatch-msg{
  background-color: rgba(235, 135, 135, 0.599);
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-weight: bold;
}

#signup-btn{
  padding: 5px 60px;
  font-weight: bold;
  margin: 20px 0px 35px;
  border-radius: 10px;
  border-style: none;
  background-color: #fda254;
  color: white;
}

