.edit-form-container{
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8DCCB;
}

.edit-form {
  width: 800px;
  background-color: #D1DCE1;
  margin-bottom: 80px;
}

#edit-title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px
}

#edit-statement{
  font-size: 18px;
  margin: 30px 0px 30px;
}

.edit-text{
  font-size: 16px;
}

.edit-field{
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

#edit-btn{
  padding: 10px 60px;
  font-weight: bold;
  border-radius: 10px; 
  border-style: none;
  background-color: #fda254;
  margin: 40px 0px 40px;
  color: white;
}

#return-btn{
  padding: 5px 60px;
  margin-bottom: 35px;
  border-radius: 10px;
  border-style: none;
  font-weight: bold;
  color: white;
  background-color: rgba(63, 67, 70, 0.578);
}