.create-form-container{
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8DCCB;
}

.create-form {
  width: 800px;
  background-color: #D1DCE1;
  margin-bottom: 80px;
}

#create-title{
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px
}

#create-statement{
  font-size: 20px;
  margin: 30px 0px 30px;
}

.create-text{
  font-size: 16px;
}

.create-field{
  margin-left: 20px;
  margin-bottom: 20px;
  width: 300px;
}

#add-wellness-btn{
  padding: 10px 60px;
  font-weight: bold;
  border-radius: 10px; 
  border-style: none;
  background-color: #fda254;
  margin: 40px 0px 40px;
  color: white;
}

#add-wellness-btn:hover {
  box-shadow: 5px 10px 18px #565a56;
  width: 15vw;
  height: 6vh;
  transition: 0.2s ease-in-out;
}